<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>rentAddDevice</title>
  </head>
  <body>
    <form action="/rent-add-device" method="POST">
      <input type="text" placeholder="deviceCode" name="deviceCode" /><br />
      <input type="submit" />
    </form>
  </body>
</html>