<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/store_signin.css" rel="stylesheet">
  </head>
<body>

<h2>tumbl; cash's store signup</h2>

<form action="/store-signup" method="POST">
  <div class="imgcontainer">
    <img src="/images/profile.png" width="150px" height="150px">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label for="email"><b>E-mail</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>
        
    <button type="submit">Sign up</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">or <a href="/store-signin">sign in</a></span>
  </div>
</form>

</body>
</html>
